@page
@model RegisterModel
@using SekiroKenjii.Utility

@{
    ViewData["Title"] = "Register";
}

@section Top{
    <div class="page-banner-section section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-banner-content">
                        <h1>Đăng Kí Tài Khoản Mới</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    @*<div asp-validation-summary="All" class="text-danger"></div>*@
    <div class="row">
        <div class="col-xs-12 mb-20">
            <label asp-for="Input.FullName">Tên đầy đủ</label>
            <input asp-for="Input.FullName" type="text" />
            <span asp-validation-for="Input.FullName" class="text-danger"></span>
        </div>
        <div class="col-sm-6 col-xs-12 mb-20">
            <label asp-for="Input.Email">Email <span class="required">*</span></label>
            <input asp-for="Input.Email" type="text" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="col-sm-6 col-xs-12 mb-20">
            <label asp-for="Input.PhoneNumber">Số điện thoại</label>
            <input asp-for="Input.PhoneNumber" type="text" />
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="col-xs-12 mb-20">
            <label asp-for="Input.Country">Quốc gia <span class="required">*</span></label>
            <input asp-for="Input.Country" type="text" />
            <span asp-validation-for="Input.Country" class="text-danger"></span>
        </div>
        <div class="col-sm-6 col-xs-12 mb-20">
            <label asp-for="Input.Address">Địa chỉ <span class="required">*</span></label>
            <input asp-for="Input.Address" type="text" />
            <span asp-validation-for="Input.Address" class="text-danger"></span>
        </div>
        <div class="col-sm-6 col-xs-12 mb-20">
            <label asp-for="Input.City">Thành phố <span class="required">*</span></label>
            <input asp-for="Input.City" type="text" />
            <span asp-validation-for="Input.City" class="text-danger"></span>
        </div>
        <div class="col-xs-12 mb-20">
            <label asp-for="Input.Password">Mật khẩu <span class="required">*</span></label>
            <input asp-for="Input.Password" type="password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="col-xs-12 mb-20">
            <label asp-for="Input.ConfirmPassword">Nhập lại mật khẩu <span class="required">*</span></label>
            <input asp-for="Input.ConfirmPassword" type="password" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        @if (User.IsInRole(SD.ManagerUser))
        {
            <div class="col-xs-12">
                <div class="form-group row">
                    <div class="col-2">

                    </div>
                    <div class="col-5">
                        <input type="radio" name="radUserRole" value="@SD.CustomerOfficer" checked /> @SD.CustomerOfficer
                        <input type="radio" name="radUserRole" value="@SD.PackingUser" checked /> @SD.PackingUser
                        <input type="radio" name="radUserRole" value="@SD.Shipper" checked /> @SD.Shipper
                        <input type="radio" name="radUserRole" value="@SD.ManagerUser" checked /> @SD.ManagerUser
                    </div>
                </div>
            </div>
        }
        <div class="col-xs-12">
            <input value="Đăng Kí" type="submit">
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
