@model SekiroKenjii.Models.ViewModel.OrderDetailsCart
@using Microsoft.Extensions.Options

@inject IOptions<SekiroKenjii.Utility.StripeSettings> Stripe

@{
    ViewData["Title"] = "Check Out";
    Layout = "~/Views/Shared/_CartLayout.cshtml";
}
<br />
<h1 class="text-center" style="font-weight:bold">Thanh Toán</h1>
<br />
<hr />
<br />
<form method="post">
    @if (Model.lstCarts.Count > 0)
    {
        <div class="checkout-form">
            <div class="col-lg-6 col-md-6 mb-40">
                <h3>Chi Tiết Hoá Đơn</h3>
                <div class="row">
                    <div class="col-xs-12 mb-30">
                        <label>Họ Tên <span class="required">*</span></label>
                        <input asp-for="@Model.Orders.OrderName" id="txtName" type="text" />
                    </div>
                    <div class="col-xs-6 mb-30">
                        <label>Email <span class="required">*</span></label>
                        <input asp-for="@Model.Orders.ShipEmail" id="txtEmail" type="text" />
                    </div>
                    <div class="col-xs-6 mb-30">
                        <label>Số Điện Thoại <span class="required">*</span></label>
                        <input asp-for="@Model.Orders.PhoneNumber" id="txtPhone" type="text" />
                    </div>
                    <div class="col-xs-12 mb-30">
                        <label>Quốc Gia <span class="required">*</span></label>
                        <input asp-for="@Model.Orders.ShipCountry" id="txtCountry" type="text" />
                    </div>
                    <div class="col-xs-6 mb-30">
                        <label>Địa Chỉ <span class="required">*</span></label>
                        <input asp-for="@Model.Orders.ShipAddress" id="txtAddress" type="text" />
                    </div>
                    <div class="col-xs-6 mb-30">
                        <label>Thành Phố <span class="required">*</span></label>
                        <input asp-for="@Model.Orders.ShipCity" id="txtCity" type="text" />
                    </div>
                    <div class="col-xs-12 mb-30">
                        <label>Ngày Đặt Hàng</label>
                        <input asp-for="@Model.Orders.OrderDate" id="txtDate" disabled type="text" />
                    </div>
                    <div class="col-xs-12 mb-30">
                        <label>Comment</label>
                        <textarea asp-for="@Model.Orders.Comment" style="height:120px"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 mb-40">
                <div class="order-wrapper">
                    <h3>Đơn Hàng Của Bạn Gồm:</h3>
                    <div class="order-table table-responsive mb-30">
                        <table class="mb-35">
                            <thead>
                                <tr>
                                    <th class="product-name">Sản Phẩm</th>
                                    <th class="product-total">Giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var total = 0.0; }
                                @foreach (var item in Model.lstCarts)
                                {
                                    <tr>
                                        <td class="product-details">
                                            @item.Product.SortName <strong class="product-qty">× @item.Count</strong>
                                        </td>
                                        <td class="product-total">
                                            <span class="amount">$@Math.Round(item.Product.Price * item.Count, 2)</span>
                                            @{ total += Math.Round(item.Product.Price * item.Count, 2); }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <table class="mb-35">
                            <thead>
                                <tr>
                                    <th class="product-name">Mã Giảm Giá</th>
                                    <th class="product-total">Tiền Giảm</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Orders.CouponCode != null)
                                {
                                    <tr>
                                        <td class="product-details">
                                            <strong style="color:deepskyblue">&nbsp;@Model.Orders.CouponCode</strong>
                                        </td>
                                        <td class="product-total">-$@Math.Round(total - Model.Orders.OrderTotal, 2)</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td class="product-details">
                                            <strong style="color:darkred">&nbsp;Không Có</strong>
                                        </td>
                                        <td class="product-total">-$@Math.Round(total - Model.Orders.OrderTotal, 2)</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-name">Thành Tiền</th>
                                    <th class="product-total"><strong>$@Math.Round(Model.Orders.OrderTotal, 2)</strong></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="payment-method">
                        <div class="order-button">
                            @{
                                var OrderTotalForStripe = Model.Orders.OrderTotal * 100;
                            }
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="@Stripe.Value.PublishableKey"
                                    data-amount="@OrderTotalForStripe"
                                    data-name="Sekiro Website"
                                    data-label="Place Order"
                                    data-description="Team Up - Game On."
                                    data-locale="auto"
                                    data-allow-remember-me="false"
                                    data-image="https://i.pinimg.com/originals/dc/b0/62/dcb062042cc14b705f25ae1b260176ed.png">
                            </script>
                            <script>
                                document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                            </script>

                            <input type="submit" id="btnPlaceOrder" onclick="return validateInput()" value="Đặt Hàng" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-8 col-md-offset-2">
            <div class="blog-item mb-20">
                <div class="content fix">
                    <blockquote>
                        <p>"Bạn Chưa Thêm Sản Phẩm Nào"</p>
                        <p>"Bạn Chưa Có Sản Phẩm Nào Trong Giỏ Hàng Để Thanh Toán. Quay lại Cửa Hàng Để Tiếp Tục Mua Sắm."</p>
                    </blockquote>
                    <div class="text-center">
                        <button class="btn" asp-action="Shop" asp-area="Customer" asp-controller="Home">Quay Lại Cửa Hàng</button>
                    </div>
                </div>
            </div>
        </div>
    }
</form>
@section Scripts{
    <script>
        function validateInput() {
            var name = document.getElementById("txtName").value;
            var email = document.getElementById("txtEmail").value;
            var phone = document.getElementById("txtPhone").value;
            var country = document.getElementById("txtCountry").value;
            var address = document.getElementById("txtAddress").value;
            var city = document.getElementById("txtCity").value;

            if (name.toString() == '') {
                alert("Please enter your Full Name");
                return false;
            }
            else {
                if (phone.toString() == '') {
                    alert("Please enter your Phone Number");
                    return false;
                }
                else {
                    if (email.toString() == '') {
                        alert("Please enter your Email");
                        return false;
                    }
                    else {
                        if (country.toString() == '') {
                            alert("Please insert your Country");
                            return false;
                        }
                        else {
                            if (address.toString() == '') {
                                alert("Please insert your Address");
                                return false;
                            }
                            else {
                                if (city.toString() == '') {
                                    alert("Please insert your City");
                                    return false;
                                }
                                else {
                                    return true;
                                }
                            }
                        }
                    }
                }
            }
        }
    </script>
}
