@model SekiroKenjii.Models.ViewModel.ShoppingCartViewModel

@{
    ViewData["Title"] = "Details";
}
<br />
<br />
<h1 class="text-center" style="font-weight:bold">Chi Tiết Sản Phẩm</h1>
<br />
<hr />
<br />
<form method="post">
    <div class="row mb-40">
        <div class="col-md-5 col-sm-6 col-xs-12 mb-40">
            <div class="tab-content mb-10">
                <div class="pro-large-img tab-pane active">
                    <img src="@Model.Products.HQImage" alt="" />
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-6 col-xs-12 mb-40">
            <div class="product-details section">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- Title -->
                <h1 class="title">@Model.Products.Name</h1>
                <!-- Price Ratting -->
                <div class="price-ratting section">
                    <!-- Price -->
                    <span class="price float-left"><span class="new">@Model.Products.Price.ToString("#,##0") VND</span></span>
                </div>
                <!-- Short Description -->
                <div class="short-desc section">
                    <h5 class="pd-sub-title">Đôi nét về sản phẩm</h5>
                    <p>@Html.Raw(Model.Products.Description)</p>
                </div>
                <!-- Quantity Cart -->
                <div class="price-ratting section">
                    <span class="price float-left"><span class="new">Sản Phẩm Còn Lại: @Model.Products.UnitsInStock</span></span>
                </div>
                <div class="quantity-cart section">
                    <div class="product-quantity">
                        <input asp-for="@Model.ShoppingCart.Count" id="@Model.Products.UnitsInStock" value="1" min="1" max="@Model.Products.UnitsInStock">
                        <span asp-validation-for="@Model.ShoppingCart.Count" class="text-danger"></span>
                    </div>
                    <button type="submit" class="add-to-cart">Thêm vào giỏ hàng</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="pro-info-tab-list section">
                <li class="active"><a href="#more-info" data-toggle="tab">Thêm thông tin</a></li>
                <li><a href="#data-sheet" data-toggle="tab">Mô Tả</a></li>
            </ul>
        </div>
        <div class="tab-content col-xs-12">
            <div class="pro-info-tab tab-pane active" id="more-info">
                <p>@Html.Raw(Model.Products.Description)</p>
            </div>
            <div class="pro-info-tab tab-pane" id="data-sheet">
                <table class="table-data-sheet">
                    <tbody>
                        <tr class="odd">
                            <td>Thương Hiệu</td>
                            <td>@Model.Products.Supplier.Name</td>
                        </tr>
                        <tr class="even">
                            <td>Loại Sản Phẩm</td>
                            <td>@Model.Products.Category.Name</td>
                        </tr>
                        <tr class="odd">
                            <td>Nhãn Sản Phẩm</td>
                            <td>@Model.Products.Tag.Name</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <input asp-for="@Model.ShoppingCart.ProductId" hidden />
</form>
