@using SekiroKenjii.Utility
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - Sekiro</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Icon Font -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    @*<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-replace-svg="nest"></script>*@
    <link rel="stylesheet" href="~/css/pe-icon-7-stroke.css">
    <!-- Plugins css file -->
    <link rel="stylesheet" href="~/css/plugins.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="~/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- Modernizr JS -->
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167981919-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-167981919-1');
    </script>
    <meta name="google-site-verification" content="YRwRCcEc_T1rwWAeYG0gMgkyR6ccHuipi_iR3fv_ZdA" />
</head>
<body>
    <div class="wrapper">
        <header class="header-section section sticker">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- logo -->
                        <div class="header-logo float-left">
                            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/logo.png" alt="main logo"></a>
                        </div>
                        <!-- header-search & total-cart -->
                        <div class="float-right">
                            <div class="header-option-btns float-right">
                                <!-- header-search -->
                                @RenderSection("Search", required: false)
                                <!-- header Account -->
                                <div class="header-account float-left">
                                    <ul>
                                        <li>
                                            <a href="#" data-toggle="dropdown"><i class="pe-7s-config"></i></a>
                                            <ul class="dropdown-menu">
                                                <partial name="_LoginSekiroPartial" />
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Header Cart -->
                                <div class="header-cart float-left">
                                    <!-- Cart Toggle -->

                                    @if (HttpContextAccessor.HttpContext.Session.GetInt32(@SD.ssShoppingCartCount) != null)
                                    {
                                        <a class="cart-toggle" asp-area="Customer" asp-controller="Cart" asp-action="Index">
                                            <i class="pe-7s-cart"></i>
                                            @{
                                                var count = HttpContextAccessor.HttpContext.Session.GetInt32(@SD.ssShoppingCartCount);
                                            }
                                            <span>@count</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="cart-toggle" asp-area="Customer" asp-controller="Cart" asp-action="Index">
                                            <i class="pe-7s-cart"></i>
                                            <span>0</span>
                                        </a>
                                    }

                                </div>
                            </div>
                            <nav class="main-menu menu-right float-right">
                                <ul>
                                    <li class="active">
                                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Home" asp-action="Shop">Shop</a>
                                    </li>
                                    <li>
                                        <a asp-area="Customer" asp-controller="Order" asp-action="OrderHistory">Order History</a>
                                    </li>
                                    @if (User.IsInRole(SD.ManagerUser))
                                    {
                                        <li>
                                            <a href="#">Management</a>
                                            <ul class="sub-menu">
                                                <li><a asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a></li>
                                                <li><a asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a></li>
                                                <li><a asp-area="Admin" asp-controller="Supplier" asp-action="Index">Supplier</a></li>
                                                <li><a asp-area="Admin" asp-controller="Coupon" asp-action="Index">Coupon</a></li>
                                                <li><a asp-area="Admin" asp-controller="Tag" asp-action="Index">Tag</a></li>
                                                <li><a asp-area="Admin" asp-controller="User" asp-action="Index">User</a></li>
                                                <li><a asp-area="Admin" asp-controller="Order" asp-action="Index">Order</a></li>
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </header>

        <div class="page-shop-section section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-banner-content">
                            <h1>shop category</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-section section pt-120 pb-120">
            <div class="container">
                @RenderSection("Filter", required: false)
                @RenderBody()
            </div>
        </div>

        @RenderSection("QuickView", required: false)

        @RenderSection("BrandImg", required: false)

        <div class="footer-top-section section pt-100 pb-60">
            <div class="container">
                <div class="row">
                    <div class="footer-widget col-md-4 col-sm-6 col-xs-12 mb-40">
                        <h5 class="widget-title">ABOUT THE STORE</h5>
                        <p>There are many variations of passages of Lor available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                    </div>
                    <div class="footer-widget col-md-3 col-sm-6 col-xs-12 mb-40">
                        <h5 class="widget-title">CUSTOMER SERVICE</h5>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">online store</a></li>
                        </ul>
                    </div>
                    <div class="footer-widget col-md-2 col-sm-6 col-xs-12 mb-40">
                        <h5 class="widget-title">PROFILE</h5>
                        <ul>
                            <li><a href="#">my Account</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">help</a></li>
                            <li><a href="#">support</a></li>
                        </ul>
                    </div>
                    <div class="footer-widget col-md-3 col-sm-6 col-xs-12 mb-40">
                        <h5 class="widget-title">SIGN UP FOR OUR AWESOME NEWS</h5>
                        <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="sunscribe-form validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <label for="mce-EMAIL" class="hidden">Subscribe to our mailing list</label>
                                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </form>
                        <div class="footer-social fix">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom-section section">
            <div class="container">
                <div class="row">
                    <div class="copyright text-left col-sm-6 col-xs-12">
                        <p>Powered by <a href="#">Võ Trung Thường</a></p>
                    </div>
                    <div class="footer-menu text-right col-sm-6 col-xs-12">
                        <a href="#">Help & Support</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery latest version -->
    <script src="~/js/vendor/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="~/js/plugins.js"></script>
    <!-- Ajax Mail js -->
    <script src="~/js/ajax-mail.js"></script>
    <!-- Main js -->
    <script src="~/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
